<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Главная страница</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" crossorigin="anonymous">

  <form action="" method="POST">
  <button name="foo" value="download">Download</button>
    <button name="foo" value="remove">Remove</button>
      <button name="foo" value="select">Select</button>
        <button name="foo" value="clean">Clean</button>
  </form>


</head>
<body>
  <button id="gt">get time</button>
  <h1>Главная страница</h1>


  {{ range $key, $value := . }}
  <table border="1" width="100%" cellpadding="5">
                 <tr>
                <td>{{$value.Kind}}</td>
                <td>{{$value.CollectionPrice}}</td>
              </tr>
            </table>
              {{end}}
  <!-- {{ if eq .Name "Bob"}}
  <span>Yes</span>
  {{else}}
  <span>No</span>
  {{end}}
<ul>
  {{ range .Hobbis}}
  <li><b>{{ . }}</b></li>
  {{end}}
</ul>
  <p> Пользователь: {{ .Name}}</p> -->
</body>
</html>
